# Ignore environment variables
.env
# have unique resume
resume.pdf
# Create
venv/
__pycache__
latex_resume.tex
latex_resume.out
latex_resume.log
latex_resume.aux
latex.py
resumes/
cover_letters/
latex_files/